# tool junk 
*_summary
.cache/
.Xil/
_ide/

fir/.Xil/
fir/.cache/
fir/logs/
fir/reports/

# ignore everything under fir/hls
fir/hls/**

# re-include directories under fir/hls so Git can descend into them
!fir/hls/
!fir/hls/**/

# keep only specific files:

# tbfile.txt
!fir/hls/csim/build/*.txt

# syn hdl files
!fir/hls/syn/verilog/*.v
!fir/hls/syn/vhdl/*.vhd

# impl hdl files
!fir/hls/impl/verilog/*.v
!fir/hls/impl/vhdl/*.vhd

